<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/estado">Estado</a>
        </li>
        <li>
            <a href="/projects">Proyecto</a>
        </li>
        <li>
            <a href="/tasks">Tareas</a>
        </li>
        <li>
            <a href="/create_task">Crea tu Tareas</a>
        </li>
    </ul>
</nav>

{% block content %} <!-- este block basio significa que aqui ira el contenido que se tenga en cada html diferente que vayamos  -->
{% endblock %}