{% extends 'layouts/base.html' %}<!--aqui es para importar se podria decir el html de base.html-->
{% block content %}

<h1>Como estas?</h1>
<h2> {{username}} </h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, sint minima sapiente corrupti reiciendis ab nemo delectus enim aspernatur est! Provident at voluptates eligendi, enim nisi expedita, ut id dolor officiis in blanditiis qui saepe possimus minus? Saepe et, itaque provident perferendis, nisi placeat cumque ipsam deleniti laboriosam, maxime ducimus?</p>

{% endblock %}