{% extends 'layouts/base.html' %}<!--aqui es para importar se podria decir el html de base.html-->
{% block content%}

<h1>Tasks</h1>
{% for task in taske %}<!-- asi se hace un bucle en un html y usando django -->
    <div>
        <h2>{%if task.done == False%} ⏲ {%else%} ✅ {%endif%}  {{task.title}}</h2><!--asi se trae un dato que venga del bucle-->
         {#<!-- siempre para hacer codigo dentro de un html en un proyecto django se utiliza ( {%algo%} ) y colocando el ( {%end%} ), pero en realidad lo que se estoy utilizando se llama jija2 que es un motor de plantillas que me deja realizar codigo aqui --> #}
        {%if task.done == False%}
        <p>Tarea Pendiente</p>
        {%else%}
        <p>Tarea Realizada</p>
        {%endif%}
        <p>{{task.description}}</p>
        <p>proyecto: {{task.Project.name}}</p>
        <button>
            delete
        </button>
        <button>
            ✅ Done
        </button>
    </div>
{% endfor %}<!-- asi se cierra el bucle -->

{% endblock %}